# Python
__pycache__

# CAD
*.stl
*.FCStd1

# Artifacts
*.png
*.jpg
*.wav
*.pdf

# Dev
.vscode

# Kicad
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# kicad Locks
*.lck

# Exported BOM files
*.xml
*.csv

# Pio
.pio
